# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Because Mac OS X
.DS_Store

# Output Directory
/dist

# Client Config, handle this via symlink to .dist version
/src/client_settings.js

# Maptile Config, handle this via symlink to .dist version
/src/map_tilelayers.js

# Milestone Config, handle this via symlink to .dist version
/src/milestones.js

# Docker-related files
Dockerfile
docker-compose.yml
nginx/nginx.conf

# Webpack Config, handle this via symlink to .dist version
webpack.config.js

CLAUDE.md