const START_MILESTONE = {
  label: 'Pre-dive'
}

const STOP_MILESTONE = {
  label: 'Mission Key Inserted'
}

const ABORT_MILESTONE = {
  name: 'lowering_aborted',
  label: 'Aborted'
}

const MILESTONES = [
  {
    name: 'lowering_deployment',
    label: 'Deployment'
  },
  {
    name: 'lowering_key_pulled',
    label: 'Mission Key Pulled'
  },
  {
    name: 'lowering_in_water',
    label: 'In Water'
  },
  {
    name: 'lowering_descent_initiated',
    label: 'Descent Initiated'
  },
  {
    name: 'lowering_descending',
    label: 'Descending'
  },
  {
    name: 'lowering_on_bottom',
    label: 'Reached Survey Depth'
  },
  {
    name: 'lowering_ascent_initiated',
    label: 'Ascent Initiated'
  },
  {
    name: 'lowering_off_bottom',
    label: 'Leaving Survey Depth'
  },
  {
    name: 'lowering_on_surface',
    label: 'Vehicle on Surface'
  },
  {
    name: 'lowering_recovery',
    label: 'Recovery'
  },
  {
    name: 'lowering_out_of_water',
    label: 'Out of Water'
  }
]

const LOWERING_DESCENT = ['lowering_descending', 'lowering_on_bottom']
const LOWERING_ASCENT = ['lowering_off_bottom', 'lowering_on_surface']

module.exports = {
  START_MILESTONE,
  STOP_MILESTONE,
  ABORT_MILESTONE,
  MILESTONES,
  LOWERING_DESCENT,
  LOWERING_ASCENT
}
